<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745246872491-5186bnrhvhilh2aumb54g1f9i9hfpajh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745246872491-5186bnrhvhilh2aumb54g1f9i9hfpajh</string>
	<key>API_KEY</key>
	<string>AIzaSyCmBcJkR-ofgXs4ZSeMVvAeaq9TBikPZvc</string>
	<key>GCM_SENDER_ID</key>
	<string>745246872491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tommyde97.Timesy</string>
	<key>PROJECT_ID</key>
	<string>timesy-ab05e</string>
	<key>STORAGE_BUCKET</key>
	<string>timesy-ab05e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745246872491:ios:fb5378a3c0b7bd9be638ee</string>
</dict>
</plist>